body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.bg{
    background-image: url(images/donation4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
}
.heading{
    text-align: center;
    padding-top: 80px;
    color: white;
    
    
}
.heading-style{
    font-size: 60px;
    
}
.button-style{
    text-decoration: none;
    background-color: tomato;
    padding:8px 14px;
    border-radius: 16px;
    color: white;
}
.middel-text{
    text-align: center;
    width: 90%;
}
.taka{
    
    
}
.box5{
    float: left;
}